# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
venv/
.venv/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / SO
.idea/
.vscode/
.DS_Store
